<br><br><br>

<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="formTable">
    <table>
      <tr>
        <td>
          <%= f.label :item_Name %>
          <%= f.text_field :itemName %>
        </td>
        <td>
          <%= f.label :calories %>
          <%= f.text_field :calories %>
        </td>
        <td>
          <%= f.label :total_Fat %>
          <%= f.text_field :totalFat %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :sodium %>
          <%= f.text_field :sodium %>
        </td>
        <td>
          <%= f.label :total_Carb %>
          <%= f.text_field :totalCarb %>
        </td>
        <td>
          <%= f.label :protein %>
          <%= f.text_field :protein %>
        </td>
      </tr>
    </table>
    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>
</div>
