<br><br>
<p id="notice"><%= notice %></p>

<div class="subHeading">
    <div>
      <h2>Nutrition Tracker</h4>
      <% date = Time.new %>
      <h1><%= date.month.to_s + "/" + date.day.to_s + "/" + date.year.to_s %></h1>
    </div>
  <%= link_to"+ Add Item", new_item_path  %>
</div>


<div class="tableDiv">
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Calories (cal.)</th>
        <th>Total Fat (g.)</th>
        <th>Sodium (mg.)</th>
        <th>Total Carb (g.)</th>
        <th>Protein (g.)</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.itemName %></td>
          <td><%= item.calories %></td>
          <td><%= item.totalFat %></td>
          <td><%= item.sodium %></td>
          <td><%= item.totalCarb %></td>
          <td><%= item.protein %></td>
          <td>
              <%= link_to 'Edit', edit_item_path(item) %>
              <%= link_to 'Destroy', item, method: :delete%>
              <%= %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br><br>
  <table class="second">
    <thead>
      <th><strong><h3>Total:</h3></strong></th>
      <% sum = 0 %>
      <th><%= x = @items.sum('calories')%><% sum += x %></th>
      <th><%= x = @items.sum('totalFat') %><% sum += x %></th>
      <th><%= x = @items.sum('sodium') %><% sum += x %></th>
      <th><%= x = @items.sum('totalCarb') %><% sum += x %></th>
      <th><%= x = @items.sum('protein') %><% sum += x %></th>
      <th colspan="3">
        <%if sum < 3000 %>
          <%= "Great" %>
        <% elsif sum < 4000 %>
          <%= "Almost There" %>
        <% else %>
          <%= "Try Better" %>
        <% end %>
      </th>
    </thead>
  </table>

</div>
