<p id="notice"><%= notice %></p>

<p>
  <strong>Itemname:</strong>
  <%= @item.itemName %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @item.calories %>
</p>

<p>
  <strong>Totalfat:</strong>
  <%= @item.totalFat %>
</p>

<p>
  <strong>Sodium:</strong>
  <%= @item.sodium %>
</p>

<p>
  <strong>Totalcarb:</strong>
  <%= @item.totalCarb %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @item.protein %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
