<!DOCTYPE html>
<%= favicon_link_tag 'DT-logo.jpg' %>
<html>
  <head>
    <title>DailyTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar">
      <!-- <%= image_tag"DT-logo.jpg", :class => "logo"%> -->
      <%= link_to image_tag("DT-logo.jpg"), {action: 'get', controller: 'home'}, :class => "logo"%>

      <h1>Daily Tracker</h1>

      <!-- <ul>
        <li></li>
      </ul> -->
      <!-- <%= link_to"Past", :controller=>"home", :action=>"past" %>
      <%= link_to"Today", :controller=>"home", :action=>"table" %> -->

    </div>


    <%= yield %>

    <footer>
      <p>Created by Mitchell Klich, Rey-Nathan Gray, Robert Ramirez</p>
    </footer>

  </body>
</html>
