<!DOCTYPE html>
<html>
  <head>
    <title>DailyTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar">
      <!-- <img src="assets/images/DT-logo.jpg" width="66px" height="66px"/> -->
      <%= image_tag"DT-logo.jpg", :class => "logo"%>
      <h1>Daily Tracker</h1>
    </div>

    <%= yield %>
  </body>
</html>
