<!DOCTYPE html>
<%= favicon_link_tag 'DT-logo.jpg' %>
<html>
  <head>
    <title>DailyTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


        <div class="navbar">
          <div>
            <%= link_to image_tag("DT-logo.jpg"), "/", :class => "logo"%>
          </div>

          <div>
            <h1>Daily Tracker</h1>
          </div>

          <div>
            <ul>
              <li><%= link_to"Excercise", :controller=>"activities", :action=>"index" %></li>
              <li><%= link_to"Nutrition", :controller=>"items", :action=>"index" %></li>
            </ul>
          </div>

        </div>
<br><br><br><br>

    <%= yield %>

    <footer>
      <p>Created by Mitchell Klich, Rey-Nathan Gray, Robert Ramirez</p>
    </footer>

  </body>
</html>
